@import (reference) "~buy/common/styles/index.less";

@p1: {
  @widthValue: 90*@px;
  .chunk-style {
    .info-container {
      table {
        width: 100%;
        tr {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          //justify-content: space-between;
          //align-items: center;
        }
      }
    }

    .record-container {
      .learn-line {
        border: 1px solid green;
        display: flex;
        .learn-record-block {
          display: flex;
          border: 1px solid orange;

          height: @widthValue;
          line-height: @widthValue;
          text-align: center;
          > * {
            height: 100%;
            flex: 0 0 @widthValue;
            min-width: @widthValue;
            max-width: @widthValue;
          }
        }
      }
    }

  }
  .add-button {
    border: 1px solid red;
    width: @widthValue;
    height: @widthValue;
    line-height: @widthValue;
    text-align: center;
  }
};

.hello(@p1);
