@import (reference) "~buy/common/styles/index.less";

@p1: {
  .chunk-style {
    .record-container {
      .learn-line {
        border: 1px solid green;
        display: flex;
        .learn-record-block {
          border: 1px solid orange;
          width: 50px;
          height: 50px;
          line-height: 50px;
          text-align: center;
        }
      }
    }

  }

  .add-button {
    border: 1px solid red;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
};

.hello(@p1);
