@import (reference) "~buy/common/styles/index.less";

@p1: {
  .focus-layout {
    display: flex;
  }

  .main-part {
    flex: 1;
    padding: 0 25 *@px;
    min-width: 0;
    .focus-page-title {
      .font(30);
      display: inline-block;
    }
    .mb-open-button {
      display: inline-block;
      border: 1px solid rgba(0,0,0,0.5);
      height: 20 *@px;
      line-height: 20*@px;
      text-align: center;
      width: 20 *@px;
      margin: 15*@px;
    }
  }

  .slider-layout-container {
    flex: 0 0 400 *@px
  }


  .yr-modal.product-list-filter-mb {
    top: 0;
    .yr-modal-content {
      padding: 0;
    }
    .filter-list {
      border: none;
    }
    position: fixed;
    left: -300px;
    transition: all 0.3s;
    height: 100vh;
    max-height: 100vh;
  }
};

.hello(@p1);
