@import (reference) "~buy/common/styles/index.less";

@p1: {
  .focus-layout {
    display: flex;
  }

  .main-part {
    flex: 1;
    padding: 0 25 *@px;
    .focus-page-title {
      .fontsize(30);
      display: inline-block;
    }
    .mb-open-button {
      display: inline-block;
      //margin: 15*@f 10*@f 130*@f 0;
    }
  }

  .slider-layout-container {
    flex: 0 0 400 *@px
  }


  .yr-modal.product-list-filter-mb {
    top: 0;
    .yr-modal-content {
      padding: 0;
    }
    .filter-list {
      border: none;
    }
    position: fixed;
    left: -300px;
    transition: all 0.3s;
    height: 100vh;
    max-height: 100vh;
  }
};

.hello(@p1);
